.mat-toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    margin-top: 6rem;
}

.mat-form-field {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}